@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    background-color: #f5f0e8;
    color: #2c1f14;
  }
}

@layer utilities {
  .font-display {
    font-family: 'Playfair Display', serif;
  }
}
